.header {
    max-width: 1240px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 45px;
    margin: auto;
    &__navbar ul {
        display: flex;
        flex-direction: row;
        padding-top: 20px;
        padding-left: 0;
        gap: 57px;
        .header__navbar__link {
            list-style: none;
        }
        .header__navbar__link a {
            text-decoration: none;
            color: black;
            font-size: 24px;
            font-weight: 500;
            line-height: 34px;
        }
    }
}


@media screen and (max-width: 768px) {
    .header {
        padding-top: 0;
        margin: 0 20px;
        align-items: center;
        &__logo img {
            max-width: 145px;
            margin-top: 20px;
        }
        &__navbar ul {
            .header__navbar__link a {
                font-size: 12px;
                text-transform: uppercase;
            }
        }
    }
}
